@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');



.navbar-brand{
  font-size: 2rem;
}

.form-control{
 text-align: center;
}




.img{
  width: 100%;
  height: 23.5rem ;
}

#bottom{
 margin-left: 4.2rem;
}

.evt{
  margin-left: 5.6rem;
  margin-top: 3rem;
}
.active-cyan-4 input[type=text] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
  margin-left: 4.8125rem;
}

.filter{
  float : right;
  margin-top: 3rem;
  min-width: 20rem;
}

.nav-img{
  height:3.75rem;
  border-radius: 50%;
}

p{
  padding: 20px;
}

.add-event{
  display: flex;
  flex-direction: column;

}
#button{
    padding: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



.event-card{
  min-width:17rem;
  margin: 0.625rem; 
  display: flex;
  flex-wrap: wrap;

}



