.divmain { 
  background: url('./bg2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
    /* height: 90%; */
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 10px hsl(286, 11%, 46%) ;
}
@media only screen and (max-width: 600px) {
    .flex-container{
        flex-direction: column-reverse;
    }
    #div1{
       margin-left: auto; 
      margin-right: auto; 
        width: 100%;
        border-radius: 0;
    }
     #div2{ 
      width:100%;
    }
    
}
*{
    box-sizing: border-box;
}
#div1{
    justify-content: center;
  background-color: white; 
  background-size: cover; 
  text-align: center;
  width:50%;  
  border: none;
  border-radius: 30px 0px 0px 30px;
}
#div2{
    width:50%;  
    background-image: url('./div2.jpg');
    background-size: cover;
    justify-content: center;
    border: none;
  border-radius: 0px 30px 30px 0px;

}
.img_div{
   
   width: 100%;
   height: 100%; 
 display: block;
 margin-left: auto;
 margin-right: auto; 
 border: none;
  border-radius: 30px;
}

.btns{
    width:40%;
    height: 38px;
    border:none;
    border-radius: 5px;
    background-color: rgb(75, 131, 235);
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btns:hover{
    opacity: 1;
}

#Loginform input[type=text],input[type=password]{
  width: 45%;
  padding: 15px;
  margin: 5px 0 22px 0;
  /* position: relative; */
  border: none;
  border-radius: 5px ;
  background: #f1f1f1;
}
   


.icon1{
  position: relative;
  top: 0px;
  font-size: 50px;
  width: 30px;
  /* margin: 15px 0 22px 0; */
  color: rgb(136, 151, 153) ;
}

.tableLogin{
  
  margin-right: auto;
  margin-left: auto ;

}

.icon2{
   margin-left: 20px; 
  margin-right: 20px; 
  height: 60px;
  width: 60px;
  color: rgb(75, 131, 235);
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:  #f1f1f1;
  cursor: pointer; 
}
.icon2:hover{
   opacity: 1;
}

.hrline{
  background: rgb(188, 205, 226);
  width:25vw;
  height: 1.5px;
  margin-left: auto;
  margin-right: auto;
}