<html>
<head>
  <title></title>
  </head>
  <body>
<form action="/sign_up" method= "post">
Name:<input placeholder="Name" name="name" type="text" id="name"><br/>
Contact Number:<input placeholder="Contact Number" name="contactNumber" type="number" id="number"><br/>
Email:<input placeholder="Email" name="email" type="email" id="email"><br/>
Password:<input placeholder="Password" name="password" type="password" id="password"><br/>
Confirm Password:<input placeholder="Confirm Password" name="confirmPassword" type="password" id="comfirmPassword"><br/>
<button type="Submit" id="button">Next</button>
</form>
</body></html>
<form action ="/sign_up/org" method="post">
Name_of_organisation:<input placeholder="Name of organization" name="Name_of_organisation" type="text"><br/>
Address_of_organisation:<input placeholder="Address of organization" name="Address_of_organisation" type="text"><br/>
License_number:<input placeholder="License Number" name="License_number" type="text"><br/>
Type_of_organisation:<input placeholder="Type of organization" name="Type_of_organisation" type="text"><br/>
Description_of_organisation:<input placeholder="Description of organization" name="Description_of_organisation" type="text"><br/>
Volunteers_number:<input placeholder="Volunteers_number" name="Volunteers_number" type="number"><br/>
Type_of_help:<input placeholder="Type_of_help" name="Type_of_help" type="text"><br/>
Open_for_volunteers:<input placeholder="Open for volunteers" name="Open_for_volunteers" type="text"><br/>
<button type="Submit">Next</button>
</form>

<!--<script   src="../sign_up.js"></script>!-->
    </body>
    </html>
