
.demoPageOdd{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

}
.demoPageEven{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#aboutus{
    width: 80%;
}
.Heading{
    text-align: center;
}
.display{
    border-radius: 50%;
    width:70%;
}

.dev{
    transition: 500ms;
}

.dev:hover{
    transform: scale(1.3,1.3);
}
.page-odd{
    background: linear-gradient(to left, rgb(218, 218, 218), white, white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3%;
    height: 560px;
    margin-left: 3%;
    margin-right: 0;
    border: solid 2px rgb(167, 167, 167);
    border-right-color: rgb(209, 209, 209);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}
.page-even{
    background: linear-gradient(to right, rgb(218, 218, 218), white, white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
    height: 560px;
    margin-right: 3%;
    margin-left: 0;
    border: solid 2px rgb(167, 167, 167);
    border-left-color: rgb(209, 209, 209);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow-y: auto;

}

.dev{
    width:100px;
}




/* Added cause one component */
.causes_area {
    display: block;
    padding: 130px 0px 100px; }
    @media (max-width: 991px) {
      .causes_area {
        padding: 70px 0px 40px; } }
  
  .single_causes {
    padding: 30px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    margin: 30px;
    transition: all 300ms linear 0s;
    background: #f9fafc; 
    width: 80%;
}
    @media (max-width: 575px) {
      .single_causes {
        padding: 50px 10px; } }
    .single_causes img {
      margin-bottom: 35px; }
    .single_causes h4 {
      font-size: 20px;
      margin-bottom: 40px; }
    .single_causes p {
      margin-bottom: 0px; }
    .single_causes:hover {
      box-shadow: 0px 20px 30px rgba(153, 153, 153, 0.2); }
  
  /* Stories carousel */
  .top-stories{
      margin-left: 5%;
      margin-right: 5%;
  } */


  .main-div {
      display: flex;
  }

  /* rating page styling */

  .reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.media{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}


/* News Component */

.news-container{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: auto;
    margin: 5%;
    justify-content: space-around;
    
}

.news-list{
height: 500px;
overflow-x: unset;
overflow-y: auto;
}

#more{
    display: none;
}

.desc{
    font-size: medium;
}

#read-more-btn{
    width: 30%;
}

.card{
    flex-wrap: wrap;
    width: 45rem;
}

.news-detail{
    display: flex;
}
