  .Event-conttainer{
    margin:0;
  }
  
  #Event-img {
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Event-heading {
    text-align: center;
    margin-top:70px;
    margin-bottom:6px;
  }
  #Event-head{
    text-align: center;
    font-size: 20px;
  }
  
  .Event-center {
    margin: 5% auto 10% auto;
    width: 50%;
    border: 1px solid;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .Event-cell {
    margin-top: 30px;
    width: 20%;
    text-align: center;
  }
  
  .Event-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #Event-button {
    background: #006a71;
    border-radius: 5px;
    box-shadow: 0 2px #444444;
    padding: 10px 27px;
    color: #ffffff;
    font: normal normal 16px/1 "Open Sans", sans-serif;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 800px) {
    td {
      width: 42%;
    }
    .Event-input {
      width: 90%;
    }
  }
  