@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.navbar-brand {
  font-size: 2rem;
}


.form-control {
  padding: 10px;
}

.image {
  width: 100%;
  height: auto;
}

.active-cyan-4 input[type="text"] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
  margin-left: -0.7rem;
}

.nav-img {
  height: 3.75rem;
  border-radius: 50%;
}

.filter-event-type {
  padding: 20px;
}

.add-event-btn {
  display: flex;
  flex-direction: column;
}
#add-button {
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.card-link {
  text-decoration: none;
}

h2 {
  text-align: center;
}

.fill {
  margin: 20px;
  margin-top: 50px;
  float: right;
  width: 20rem;
}

h1{
  font-size: 45px;
}
#head{
  min-width: 20rem;
}

.filter-title{
  font-size: 30px;
  text-decoration: underline;
}
.fill{
  min-width: 20rem;
}

@media only screen and (max-width: 500px) {
  .hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #card-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .cardss{
    width: 20rem;
  }
  .class4{
    display: inline-block;
    padding:15px;
   }

   .class2{
     position: absolute;
     top:170px;
     right:-30px;
     white-space: nowrap;
     display: flex;
     justify-content: space-between;
   }
   .paragraph{
     background-color: aqua;
   }
  
}

@media only screen and (max-width: 800px) {
  .hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #card-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .cardss{
    min-width: 30rem;
  }
  .class4{
    display: inline-block;
    padding:15px;
   }

   .class2{
     position: absolute;
     top:170px;
     right:-30px;
     white-space: nowrap;
     display: flex;
     justify-content: space-between;
   }
   .paragraph{
     background-color: aqua;
   }
  
}

@media only screen and (max-width: 1000px) {
  .hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #card-cont {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card-button{
    position: absolute;
    right:35px;
    bottom: 15px;
  }
  .img-responsive{
    width:100%;
  }
  .class1, .class2, .class3, .class4{
    margin:5px;
    display: flex;
    justify-content: space-between;
  }
  
}

@media only screen and (max-width: 1200px) {
  .hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .filter-card{

    width:100%;
  }
  #card-cont {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .paragraph{
    position: absolute;
    top:15px;
    right:25px;
  }
  
  .card-button{
    position: absolute;
    right:35px;
    bottom: 15px;
    
  }
  .cardss{
    height:auto;
  }
}

@media only screen and (max-width: 2000px) {
  .filter-card{

    width:100%;
  }
  .paragraph{
    position: absolute;
    top:15px;
    right:25px;
  }
  
  .card-button{
    position: absolute;
    right:35px;
    bottom: 15px;
    
  }
  .cardss{
    max-width: 50rem;
    height:auto;
  }
  .image-card{
    height:11rem;
  }
}


